/* global styles */

:root {--global-color-1: #003366}



/* Styles for the type selectors */
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
	overflow: auto;
	width: 96%;
	max-width:1200px;
	margin: auto;
	background-color: AliceBlue;

}

main{
	width: 100%;
	height:100%;
	background-color: AliceBlue;
	
}

/* Styles for the header */
header{
	
	width: 100%;
	padding: 10px 10px;
	background-color: AliceBlue;
	margin-bottom: 30px;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid var(--global-color-1);
	font-size: 90%;
}

header img{
	width: 35.0505%;
	max-width: 347px;
	min-width: 175px;
	float: left;
	margin-right:2.0202%;
	border-right: 1px solid var(--global-color-1);
	padding: 0px;
}

header nav {
	white-space: nowrap;
}

header nav ul{
	width: 100%;
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0px;
	overflow: hidden;
	background-color: AliceBlue;
	
}
header ul li{
	
	float: left;
}

header nav ul li a{
	text-align: center;
	display: block;
	color: var(--global-color-1);
	font-weight: 200;
	padding: 14px 16px;
	text-decoration: none;
}

header ul li a:hover{
	background-color: AliceBlue;
	font-weight: bold;
	color: var(--global-color-1);
	font-style: italic;
}

.MyAccount {
  padding: 8px 16px;
  background-color: var(--global-color-1);
  color: #fff;
  border-radius: 4px;
  font-weight: 500;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.MyAccount:hover {
  background-color: #0056b3;
}


/*Styles for the Article section*/
.banner {
  width:100%;
  height: 200px; /* Set desired banner height */
  overflow: hidden;
  position: relative;
  
  background-image: url("RealEstate3.jpg"); /* Replace with your image path */
  background-size: contain; /* Adjusts the image size to cover the entire element */
  background-position: center top ; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-attachment: fixed; /* Keeps the background image fixed while scrolling */
  background-color: AliceBlue; 
  
}

.container{
	display: flex;
	justify-content: space-between;
	width : 100%;
	margin: 20px 0 0 0;
	height: 50%;
	padding: 10px;
}

.main-content {
	width: 54.0404%;
	float: left;
	margin-left: 2.0202%;
	padding: 0 2.52525% 0 0;
	min-height: 100%;
	background-color: AliceBlue;

}

.main-content h1,.main-content h2, .main-content h3, .main-content h5, p, li{
	
	color: var(--global-color-1);
	
}

.main-content .inline-heading {
  display: inline;
  margin: 0;
  padding: 0;
  line-height: 1;
}

.semi-bold{
	font-family: 'Inter', sans-serif;
	font-weight: 600;
}

.sidebar{
	width: 35.35353%;
	float: left;
	padding: 2.0202%;
	margin: 0 2.0202% 0 0;
	background-color: #003366;
	min-height: 100%;
	box-sizing: border-box;
}

.sidebar img{
	
	max-width: 100%;
}

.sidebar h2, .sidebar h3{
	font-size: 1.625em;
	color: #fff;
}


.sidebar li{
	font-size: 1.0em;
	color: #fff;
}

/*styles for cards section */

.service-cards{
	display: flex;
	justify-content: space-between;
	width : 100%;
	height: 100%;
	padding-bottom: 10px;
}

.row{
	
	display: flex;
	padding-bottom: 20px;
	width: 100%;

}

.row h1,h2{
	
	color: var(--global-color-1);
	
}

.accordion-button
{
	font-size: medium;	
}

.accordion-body{
	color: var(--global-color-1);
}

/* Styles for the footer */

footer { 

	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: AliceBlue;
	padding: 8px;
	text-align: center;
	z-indez: 1000;
	border-top: 1px solid var(--global-color-1);
	height: 75px;
}

footer .footer-container{
	display: flex;
	justify-content: space-between; /* or center, or space-around */
	align-items: center;
	gap: 20px; /* optional spacing between divs */
	padding: 5px;
}

footer .footer-container > div{
	 /* flex: 1;makes each div take equal space */
	padding: 10px;
	background-color: AliceBlue;
}


footer .CopyRight {
	color: var(--global-color-1);
	font-weight: bold;
	font-size: .75em;
	float:left;
	background-color: AliceBlue; 
	text-align: left;
}


footer .Social {
	color: var(--global-color-1);
	font-weight: bold;
	font-size: 75%;
	float:left;
	background-color: AliceBlue; 
	text-align: right;
}

footer .SocialMedia {
  margin: 2px;
  padding: 4px 8px;
  background-color: var(--global-color-1);
  color: #fff;
  border-radius: 4px;
  font-weight: 500;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

footer .SocialMedia:hover {
  background-color: #0056b3;
}

/*
footer .responsive-form {
	width: 75.0404%;
	float: left;
	margin-left: 2.0202%;
	padding: 0 2.52525% 0 0;
	min-height: 100%;

}

*/

form{
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	min-height: 100%;
	
}
fieldset{
	width: 100%;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top: .5em;
	border: 2px solid var(--global-color-1);
	min-height: 100%;
}

legend{
	color: var(--global-color-1);
	font-weight: bold;
	font-size:85%;
	margin-bottom: .5em;
}

label, input, select{
	font-size: 90%;
	float: left;
}

label {
	min-width: 30%;
	margin-bottom: .5em;
	text-align: left;
	
}

input{
	width: 40%;
	margin-left: .5em;
	margin-bottom:  .5em;
	float: left;
}

select{
	width: 40%;
	margin-left: .5em;
	margin-bottom:  .5em;
}

textarea{
	width: 90%;
	min-height: 100px;
	margin-left: .5em;
	margin-bottom: .5em;
}

#button input{
	width: 10em;
}

div.gallery-form{
	width: 54.0404%;
	float: left;
	margin-left: 2.0202%;
	min-height: 100%;
	
}

div.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  min-height: 100%;
  padding: 1.5em 2.52525% 0 0;
}

div.gallery-item {
  margin: 5px;
  border: 1px solid var(--global-color-1);
  width: 180px;
}

div.gallery-item:hover {
  border: 5px solid #777;
}

div.gallery-item img {
  width: 100%;
  height: auto;
}

div.gallery-item div.desc {
  padding: 15px;
  text-align: center;
  font-size: 90%;
  color: var(--global-color-1);
}

